Test Stand Electronics/node-red/Dashboard_TestStand.json
[
    {
        "id": "52e8d5fce57c0ee0",
        "type": "tab",
        "label": "Test Stand Electronics",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4e02b14d96e090b",
        "type": "tab",
        "label": "Pressure Transducer 1 Calibration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "813b0b32d0aa75cf",
        "type": "tab",
        "label": "Pressure Transducer 2 Calibration",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5384a884e685489",
        "type": "tab",
        "label": "Tank-Weighing Load Cells",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8d955ac1b24ec7fa",
        "type": "tab",
        "label": "Thrust Load Cells",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f0859823d35e390",
        "type": "mqtt-broker",
        "name": "Rocket",
        "broker": "192.168.0.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0ab6a94c37a62ed",
        "type": "ui_group",
        "name": "Default",
        "tab": "feae6ac99750d11d",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4755d6d89d9c934a",
        "type": "ui_group",
        "name": "Calibration",
        "tab": "d2c47d56c2b42d73",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feae6ac99750d11d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2c47d56c2b42d73",
        "type": "ui_tab",
        "name": "Calibration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bac4c30e9fad0eb2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6695468d22333f4b",
        "type": "ui_tab",
        "name": "Debug Graphs",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a26745f53d1834f0",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "6695468d22333f4b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42d014aded41fd14",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "6695468d22333f4b",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "98d15d745fce55eb",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "6695468d22333f4b",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "f884895d5e5b8794",
        "type": "mqtt out",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "topic": "/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f0859823d35e390",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "172aa76d955b8470",
        "type": "mqtt out",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "topic": "/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f0859823d35e390",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "a56c9c9fb1c46a13",
        "type": "mqtt out",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "topic": "/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f0859823d35e390",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "5d953628e39fa020",
        "type": "ui_switch",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "label": "IntTankDrainSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "sol3on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "sol3off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "f884895d5e5b8794",
                "350540582170ce77"
            ]
        ]
    },
    {
        "id": "980fe7553c6e64dc",
        "type": "ui_switch",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "label": "FlexFillSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "sol1on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "sol1off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "a56c9c9fb1c46a13",
                "498a4514dabc504a"
            ]
        ]
    },
    {
        "id": "bddccccc5f172122",
        "type": "ui_switch",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "label": "FlexDrainSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "sol2on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "sol2off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "172aa76d955b8470",
                "350540582170ce77"
            ]
        ]
    },
    {
        "id": "a94ba8d3dcaa1084",
        "type": "change",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sol1off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "980fe7553c6e64dc"
            ]
        ]
    },
    {
        "id": "350540582170ce77",
        "type": "switch",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sol3on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sol2on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "a94ba8d3dcaa1084"
            ],
            [
                "a94ba8d3dcaa1084"
            ]
        ]
    },
    {
        "id": "498a4514dabc504a",
        "type": "switch",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sol1on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sol1on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "154466f570b017ae"
            ],
            [
                "3a3887b7b6438832"
            ]
        ]
    },
    {
        "id": "154466f570b017ae",
        "type": "change",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sol3off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "5d953628e39fa020"
            ]
        ]
    },
    {
        "id": "3a3887b7b6438832",
        "type": "change",
        "z": "52e8d5fce57c0ee0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sol2off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 720,
        "wires": [
            [
                "bddccccc5f172122"
            ]
        ]
    },
    {
        "id": "b80bf0b928f7a372",
        "type": "mqtt in",
        "z": "e4e02b14d96e090b",
        "name": "",
        "topic": "/pressure/1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 80,
        "wires": [
            [
                "cf7f3f7d993560b1",
                "b38281bab6e65d58",
                "53ab12034a750c4e"
            ]
        ]
    },
    {
        "id": "2fb26147c454d137",
        "type": "function",
        "z": "e4e02b14d96e090b",
        "name": "Store Calibration",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length < 2) {\n    calibrationPoints.push({\n        rawValue: msg.payload.rawValue,\n        pressureValue: msg.payload.pressureValue\n    });\n    \n    flow.set(\"calibrationPoints\", calibrationPoints);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc91c692a9f3d56",
        "type": "function",
        "z": "e4e02b14d96e090b",
        "name": "Last Raw Value Storage",
        "func": "flow.set(\"lastRawValue\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "270412fb64ee13c9",
        "type": "function",
        "z": "e4e02b14d96e090b",
        "name": "function 2",
        "func": "var pressureValue = parseInt(msg.payload.calibrationValue, 10);  // Convert entered value to number\nvar rawValue = flow.get(\"lastRawValue\");\n\nreturn {\n    payload: {\n        pressureValue: pressureValue,\n        rawValue: rawValue\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "2fb26147c454d137"
            ]
        ]
    },
    {
        "id": "f1470d8ffb666f8b",
        "type": "function",
        "z": "e4e02b14d96e090b",
        "name": "Calculate Pressure",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length === 2) {\n    var p1 = calibrationPoints[0];\n    var p2 = calibrationPoints[1];\n\n    var m = (p2.pressureValue - p1.pressureValue) / (p2.rawValue - p1.rawValue);\n    var b = p1.pressureValue - m * p1.rawValue;\n\n    var pressure = m * msg.payload + b;\n    return { payload: pressure };\n} else {\n    // Not enough calibration points\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "3038d02e5c206d3b",
                "73315cf65b49f058"
            ]
        ]
    },
    {
        "id": "3038d02e5c206d3b",
        "type": "ui_gauge",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fill Line Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1bc18aa918a3719",
        "type": "ui_form",
        "z": "e4e02b14d96e090b",
        "name": "Calibration Value Form",
        "label": "Internal Pressure Calibration",
        "group": "4755d6d89d9c934a",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Calibration Value",
                "value": "calibrationValue",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibrationValue": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "270412fb64ee13c9"
            ]
        ]
    },
    {
        "id": "55477f38c589893b",
        "type": "ui_gauge",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "raw Debug Fill Line",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "73315cf65b49f058",
        "type": "ui_chart",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "fill line chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7f3f7d993560b1",
        "type": "smooth",
        "z": "e4e02b14d96e090b",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "16",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "6dc91c692a9f3d56",
                "f1470d8ffb666f8b",
                "55477f38c589893b",
                "3f69d3158c9e9161"
            ]
        ]
    },
    {
        "id": "b38281bab6e65d58",
        "type": "ui_chart",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "raw fill line",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3f69d3158c9e9161",
        "type": "ui_chart",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "raw fill 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "53ab12034a750c4e",
        "type": "smooth",
        "z": "e4e02b14d96e090b",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "6b051c0d00ccf035"
            ]
        ]
    },
    {
        "id": "6b051c0d00ccf035",
        "type": "ui_chart",
        "z": "e4e02b14d96e090b",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "raw fill 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "419c5e2c21c8b278",
        "type": "mqtt in",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "topic": "/pressure/2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "db78fe33cb396055",
                "7aede436f0e465b8"
            ]
        ]
    },
    {
        "id": "7977965be19f3b1d",
        "type": "function",
        "z": "813b0b32d0aa75cf",
        "name": "Store Calibration",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length < 2) {\n    calibrationPoints.push({\n        rawValue: msg.payload.rawValue,\n        pressureValue: msg.payload.pressureValue\n    });\n    \n    flow.set(\"calibrationPoints\", calibrationPoints);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a660e3b1f76ba86",
        "type": "function",
        "z": "813b0b32d0aa75cf",
        "name": "function 3",
        "func": "flow.set(\"lastRawValue\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5ac2ccd2d7d5b492",
        "type": "function",
        "z": "813b0b32d0aa75cf",
        "name": "function 4",
        "func": "var pressureValue = parseInt(msg.payload.calibrationValue, 10);  // Convert entered value to number\nvar rawValue = flow.get(\"lastRawValue\");\n\nreturn {\n    payload: {\n        pressureValue: pressureValue,\n        rawValue: rawValue\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "7977965be19f3b1d"
            ]
        ]
    },
    {
        "id": "fa96ccb2d4a0f8f5",
        "type": "function",
        "z": "813b0b32d0aa75cf",
        "name": "Calculate Pressure",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length === 2) {\n    var p1 = calibrationPoints[0];\n    var p2 = calibrationPoints[1];\n\n    var m = (p2.pressureValue - p1.pressureValue) / (p2.rawValue - p1.rawValue);\n    var b = p1.pressureValue - m * p1.rawValue;\n\n    var pressure = m * msg.payload + b;\n    return { payload: pressure };\n} else {\n    // Not enough calibration points\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "cd0eb164c3cf2dae",
                "66743bb821e01d8e"
            ]
        ]
    },
    {
        "id": "cd0eb164c3cf2dae",
        "type": "ui_gauge",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Internal Tank Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "407e64cd778803bf",
        "type": "ui_form",
        "z": "813b0b32d0aa75cf",
        "name": "Calibration Value Form",
        "label": "Fill Line Pressure Calibration ",
        "group": "4755d6d89d9c934a",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Calibration Value",
                "value": "calibrationValue",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibrationValue": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "5ac2ccd2d7d5b492"
            ]
        ]
    },
    {
        "id": "4d31ede9339b98e7",
        "type": "ui_gauge",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "raw Debug Internal Tank ",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "66743bb821e01d8e",
        "type": "ui_chart",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "internal tank chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "db78fe33cb396055",
        "type": "smooth",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "16",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "6a660e3b1f76ba86",
                "fa96ccb2d4a0f8f5",
                "4d31ede9339b98e7"
            ]
        ]
    },
    {
        "id": "7aede436f0e465b8",
        "type": "ui_chart",
        "z": "813b0b32d0aa75cf",
        "name": "",
        "group": "a26745f53d1834f0",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "raw int tank",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6ec61d1f25635bcb",
        "type": "function",
        "z": "c5384a884e685489",
        "name": "Store Calibration",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length < 2) {\n    calibrationPoints.push({\n        rawValue: msg.payload.rawValue,\n        pressureValue: msg.payload.pressureValue\n    });\n    \n    flow.set(\"calibrationPoints\", calibrationPoints);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a3bf391ced57ea04",
        "type": "function",
        "z": "c5384a884e685489",
        "name": "Last Raw Value Storage",
        "func": "flow.set(\"lastRawValue\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "58f401a565086e13",
        "type": "function",
        "z": "c5384a884e685489",
        "name": "Function",
        "func": "var pressureValue = parseInt(msg.payload.calibrationValue, 10);  // Convert entered value to number\nvar rawValue = flow.get(\"lastRawValue\");\n\nreturn {\n    payload: {\n        pressureValue: pressureValue,\n        rawValue: rawValue\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "6ec61d1f25635bcb"
            ]
        ]
    },
    {
        "id": "63cd4e965c6ecaf1",
        "type": "function",
        "z": "c5384a884e685489",
        "name": "Calculate Pressure",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length === 2) {\n    var p1 = calibrationPoints[0];\n    var p2 = calibrationPoints[1];\n\n    var m = (p2.pressureValue - p1.pressureValue) / (p2.rawValue - p1.rawValue);\n    var b = p1.pressureValue - m * p1.rawValue;\n\n    var pressure = m * msg.payload + b;\n    return { payload: pressure };\n} else {\n    // Not enough calibration points\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "798f037af0186f4a"
            ]
        ]
    },
    {
        "id": "38ce02020c66399f",
        "type": "ui_gauge",
        "z": "c5384a884e685489",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank Load Cell Pressure Guage",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "891fa6825ebc5f8b",
        "type": "ui_form",
        "z": "c5384a884e685489",
        "name": "Calibration Value Form",
        "label": "Load Cell Calibration Form",
        "group": "4755d6d89d9c934a",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Calibration Value",
                "value": "calibrationValue",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibrationValue": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "58f401a565086e13"
            ]
        ]
    },
    {
        "id": "b74b65d1652d7d3a",
        "type": "mqtt in",
        "z": "c5384a884e685489",
        "name": "",
        "topic": "/loadcell/force1/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "22d47dfe184cf74f"
            ]
        ]
    },
    {
        "id": "cbb250f73b561c63",
        "type": "mqtt in",
        "z": "c5384a884e685489",
        "name": "",
        "topic": "/loadcell/force2/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 500,
        "wires": [
            [
                "7ba219e107bdcc73"
            ]
        ]
    },
    {
        "id": "19a26d8df62b99dc",
        "type": "mqtt in",
        "z": "c5384a884e685489",
        "name": "",
        "topic": "/loadcell/force3/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "b512d23aa7079f4b"
            ]
        ]
    },
    {
        "id": "3172623a401e7cb7",
        "type": "mqtt in",
        "z": "c5384a884e685489",
        "name": "",
        "topic": "/loadcell/forceavg/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a3bf391ced57ea04",
                "7396fbbe3f3167ab"
            ]
        ]
    },
    {
        "id": "daf23bbdf2c2f151",
        "type": "ui_gauge",
        "z": "c5384a884e685489",
        "name": "",
        "group": "98d15d745fce55eb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank Load Cell 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "f8276e4e5e08d169",
        "type": "ui_gauge",
        "z": "c5384a884e685489",
        "name": "",
        "group": "98d15d745fce55eb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank Load Cell 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "7eecad266c04c1c5",
        "type": "ui_gauge",
        "z": "c5384a884e685489",
        "name": "",
        "group": "98d15d745fce55eb",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank Load Cell 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "798f037af0186f4a",
        "type": "smooth",
        "z": "c5384a884e685489",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "38ce02020c66399f",
                "d564e51462c67d30"
            ]
        ]
    },
    {
        "id": "b512d23aa7079f4b",
        "type": "smooth",
        "z": "c5384a884e685489",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 500,
        "y": 560,
        "wires": [
            [
                "7eecad266c04c1c5"
            ]
        ]
    },
    {
        "id": "7ba219e107bdcc73",
        "type": "smooth",
        "z": "c5384a884e685489",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "f8276e4e5e08d169"
            ]
        ]
    },
    {
        "id": "22d47dfe184cf74f",
        "type": "smooth",
        "z": "c5384a884e685489",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "daf23bbdf2c2f151"
            ]
        ]
    },
    {
        "id": "7396fbbe3f3167ab",
        "type": "smooth",
        "z": "c5384a884e685489",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "63cd4e965c6ecaf1"
            ]
        ]
    },
    {
        "id": "d564e51462c67d30",
        "type": "ui_chart",
        "z": "c5384a884e685489",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Tank load cell pressure graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "866e8b6123d630a3",
        "type": "function",
        "z": "8d955ac1b24ec7fa",
        "name": "Store Calibration",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints\") || [];\n\nif (calibrationPoints.length < 2) {\n    calibrationPoints.push({\n        rawValue: msg.payload.rawValue,\n        pressureValue: msg.payload.pressureValue\n    });\n    \n    flow.set(\"calibrationPoints\", calibrationPoints);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4fda4927a735511a",
        "type": "function",
        "z": "8d955ac1b24ec7fa",
        "name": "Last Raw Value Storage",
        "func": "flow.set(\"lastRawValue\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "80734b61e64cc8fb",
        "type": "function",
        "z": "8d955ac1b24ec7fa",
        "name": "Function",
        "func": "var pressureValue = parseInt(msg.payload.calibrationValue, 10);  // Convert entered value to number\nvar rawValue = flow.get(\"lastRawValue\");\n\nreturn {\n    payload: {\n        pressureValue: pressureValue,\n        rawValue: rawValue\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "866e8b6123d630a3"
            ]
        ]
    },
    {
        "id": "6c06f95964d7af1f",
        "type": "function",
        "z": "8d955ac1b24ec7fa",
        "name": "Calculate Pressure",
        "func": "var calibrationPoints = flow.get(\"calibrationPoints1\") || [];\n\nif (calibrationPoints.length === 2) {\n    var p1 = calibrationPoints[0];\n    var p2 = calibrationPoints[1];\n\n    var m = (p2.pressureValue - p1.pressureValue) / (p2.rawValue - p1.rawValue);\n    var b = p1.pressureValue - m * p1.rawValue;\n\n    var pressure = m * msg.payload + b;\n    return { payload: pressure };\n} else {\n    // Not enough calibration points\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "6f3e46531f98e432"
            ]
        ]
    },
    {
        "id": "ea56b7f41530dbcf",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell Pressure Graph",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "10558288a2d35dfd",
        "type": "ui_form",
        "z": "8d955ac1b24ec7fa",
        "name": "Calibration Value Form",
        "label": "Load Cell B Calibration Form",
        "group": "4755d6d89d9c934a",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Calibration Value",
                "value": "calibrationValue",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibrationValue": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "80734b61e64cc8fb"
            ]
        ]
    },
    {
        "id": "3875a713eb462225",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/force1/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "d1c33f83f47de094"
            ]
        ]
    },
    {
        "id": "1d5c9f80d6a05a12",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/force2/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "d1b88b1a9ffb8a0a"
            ]
        ]
    },
    {
        "id": "7d64568e5c30d7b7",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/force3/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "0cf9c8b515a4f412"
            ]
        ]
    },
    {
        "id": "8b253f7be3ecd75c",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/forceavg/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 100,
        "wires": [
            [
                "4fda4927a735511a",
                "6f276235f74bac4a"
            ]
        ]
    },
    {
        "id": "8114644a62c3521e",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "42d014aded41fd14",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell A",
        "label": "units",
        "format": "{{value}}",
        "min": "-100000",
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "8165c523b48ed96d",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "42d014aded41fd14",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell B",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5083a0a26ced81f",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "42d014aded41fd14",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell C",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "6f3e46531f98e432",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "ea56b7f41530dbcf",
                "bd91c6fbe2e8944c"
            ]
        ]
    },
    {
        "id": "618e1f43bebcb70d",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/force4/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "d4a6280d13842419"
            ]
        ]
    },
    {
        "id": "64b1920f1db1ac51",
        "type": "mqtt in",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "topic": "/loadcell2/force5/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "c6c1c1e63e7f26b4"
            ]
        ]
    },
    {
        "id": "c50f25c5a6ce6573",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "42d014aded41fd14",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell D",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "8a3d638beb7c8f7d",
        "type": "ui_gauge",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "42d014aded41fd14",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thrust Load Cell E",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4a6280d13842419",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "c50f25c5a6ce6573"
            ]
        ]
    },
    {
        "id": "d1c33f83f47de094",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "8114644a62c3521e"
            ]
        ]
    },
    {
        "id": "d1b88b1a9ffb8a0a",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "8165c523b48ed96d"
            ]
        ]
    },
    {
        "id": "0cf9c8b515a4f412",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "a5083a0a26ced81f"
            ]
        ]
    },
    {
        "id": "c6c1c1e63e7f26b4",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "8a3d638beb7c8f7d"
            ]
        ]
    },
    {
        "id": "6f276235f74bac4a",
        "type": "smooth",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "4",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "6c06f95964d7af1f"
            ]
        ]
    },
    {
        "id": "bd91c6fbe2e8944c",
        "type": "ui_chart",
        "z": "8d955ac1b24ec7fa",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Thrust load cell pressure graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 100,
        "wires": [
            []
        ]
    }
]